
<div id="welcomePage">
    <h1 style='font-weight: 100;text-transform: uppercase;'>Welcome</h1><br><br>
<p class='starter'style='text-transform: uppercase;text-align:center; font-size:20px;'>below are a few of my favorite codepen creations - please feel free to visit <a style='text-decoration: underline!important; text-shadow: 1px 1px 1px white;text-align:center;font-size:20px;color:green;'href="https://codepen.io/CharGar/pens/public/">my codepen profile</a> to see more!</p>
<div class="chrome">
  please view in Chrome
</div>
<div class="col-12">
<iframe height='300' scrolling='no' title='2D click/Drag gsap' src='//codepen.io/CharGar/embed/EXqLWK/?height=300&theme-id=30872&default-tab=js,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 80%;'>See the Pen <a href='https://codepen.io/CharGar/pen/EXqLWK/'>2D click/Drag gsap</a> by Charlie Garnaas (<a href='https://codepen.io/CharGar'>@CharGar</a>) on <a href='https://codepen.io'>CodePen</a>.
</iframe><br>
<iframe height='300' scrolling='no' title='SVG Draw CSS Animation' src='//codepen.io/CharGar/embed/bredJr/?height=300&theme-id=30872&default-tab=html,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 80%;'>See the Pen <a href='https://codepen.io/CharGar/pen/bredJr/'>SVG Draw CSS Animation</a> by Charlie Garnaas (<a href='https://codepen.io/CharGar'>@CharGar</a>) on <a href='https://codepen.io'>CodePen</a>.
</iframe><br>
<iframe height='300' scrolling='no' title='2d animation gsap' src='//codepen.io/CharGar/embed/ModJKx/?height=300&theme-id=30872&default-tab=js,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 80%;'>See the Pen <a href='https://codepen.io/CharGar/pen/ModJKx/'>2d animation gsap</a> by Charlie Garnaas (<a href='https://codepen.io/CharGar'>@CharGar</a>) on <a href='https://codepen.io'>CodePen</a>.
</iframe><br>
<iframe height='300' scrolling='no' title='Pointer Events' src='//codepen.io/CharGar/embed/brbjVe/?height=300&theme-id=30872&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 80%;'>See the Pen <a href='https://codepen.io/CharGar/pen/brbjVe/'>Pointer Events</a> by Charlie Garnaas (<a href='https://codepen.io/CharGar'>@CharGar</a>) on <a href='https://codepen.io'>CodePen</a>.
</iframe><br>
</div>
</div>
