
<div id="gitInfo"><br><br><br><br>
  <div class ='bIo'>
    <h1>Github Username: {{x.info.login}}</h1>
    <h1>Github Link: <a class = 'h5' href="{{x.info.html_url}}">{{x.info.html_url}}</a></h1>
    <h1>E-mail: {{x.info.email}}</h1>
    <div id="myBio">Bio: {{x.info.bio}}</div>
  </div>

  <div class="resume">
<div id="techTitle">TECH EXPERIENCE</div>
<div id="techExp">    
JavaScript jQuery AngularJS HTML MongoDB Bootstrap BootstrapUI SQL Express <br>
Node Postman Postgress SASS SweetAlerts xCode Swift Adobe Photoshop C++ GitHub <br>
AJAX ng-maps google API Heroku Grunt Passport OAuth Nodemailer Geolocation <br>
Mongo HTML5 @keyframes Bower CSS
 </div>
 <div id="techTitle">TECH PROFICIENT</div>
 <div id="techExp">    
 JavaScript
 jQuery 
 Angular
 
 CSS3
 GSAP
 Bootstrap
 
 Animation
 HTML5
 Adobe Illustrator 
 </div>
  <div class="myExp">
    <strong> EXPERIENCE </strong> <br>
   <b>Amazon Alexa Skill Relationship Tips,</b>  <i> Creator </i> <br>
   • Designed using AWS (amazon web services) and Lambda <br> 
   • Written using Node.js and Javascript <br>
   <em> Description </em><br>
   • Created - Oct 2017
    Users can now ask Alexa for tips on how to make their significant-other happy with slightly comical tones. Just say, "Alexa, tell relationship tips to give me advice." If you're having relationship issues, no sweat, Alexa's Relationship Tips skill will help steer you into greener pastures. This app also features fun and creative date ideas. Just say, "Alexa, ask relationship tips for good date ideas." Enjoy. <br>
   <em>Skill Details</em> <br>
   • Rated: Mature. This skill contains dynamic content. <br>
   • InvocationName:relationshiptips <br>
   • Averaging +163% downloads week over week <br>
   <b> West Tonka Elementary || Mound, MN </b> <i> Frontend Dev/Project Lead </i> <br>
   • Managed team in an agile/scrum environment to create a behavioral application used by students/staff <br>
   • Developed using the fullstack, and angularjs with a primary focus on UI and responsive design (tablets) <br>
   • Tailored three separate interfaces, each with different capabilities - teachers, principals/admin/students <br>
  <b>Twirl Events </b> || Eden Prairie, Minnesota January 2008 - Current(CFH) <i> Team Lead/Tech Liaison </i> <br>
   • Assisted in the development and design of Twirl Events Webpage http://twirlevents.com/ <br>
   • Facilitated event aspects including catering services, worked with multiple agencies in regard to tech,
   video and audio setup <br>
   • Effectively collaborated and managed participating companies and team members to deliver all aspects 
   of events to client specifications <br>
   <!-- March 2017 - July 2017 -->
    
   <b> Prime Digital Academy </b>|| Minneapolis, Minnesota <i> Fullstack Graduate</i> <br>
   • Graduated from accelerated software engineering, fullstack program <br>
   • Engineered frontend application for nonprofit group <br>
   • Lead agile team and coordinated development <br>
   <b>Target</b>|| Minneapolis, Minnesota <i>Hospitality/Event Coordinator</i> <br>
   • Prepared transportation and hotel services for Indy Car Sponsors and leading executives <br>
   • Coordinated and managed all aspects of Hospitality Tent and Indy Trailer including site selection <br>
   • Organized and hosted monthly events for leading sponsors and top executives <br>
   • Managed catering services and beverage distribution for both pit crew and Indy Car drivers <br>
   <b>A little about me </b>
   I’m a frontend developer actively seeking full-time employment working as a frontend dev or fullstack dev. I have a huge passion for UI and animations. Cleaning up a wage page and giving users something fun to use and easy to navigate brings me a sense of fulfillment. I would make a great addition to any development team because I pick up things quickly, I bring a strong work ethic and sense of levity wherever I go and I’m incredibly creative. I love to wakesurf and my favorite place to go for fun is Acme Comedy Club.
  </div>
  </div>
</div>

<br><br><br><br>