
<div id="gitInfo">
  <div>
    <h1 style='font-weight: 100;transform:scaleX(1.5);text-transform: uppercase;'>info</h1>
    <p>Github Username: <h5>{{x.info.login}}</h5></p>
    <p>Github Link: <h5><a class = 'h5' href="{{x.info.html_url}}">{{x.info.html_url}}</a></h5></p>
    <p>E-mail:<h5> {{x.info.email}}</h5></p>
    <p>Bio:<h5> {{x.info.bio}}</h5></p>
    <p>Resume:<h5><a style='color:white;'href="https://thelandofchargar.herokuapp.com/">https://thelandofchargar.herokuapp.com/</a></h5></p>
  </div>

</div>
