
<div id="gitInfo">
  <div class ='bIo'>
    <!-- <h1 style='font-weight: 100;text-transform: uppercase; text-align:center;'>info</h1> -->
    <h1 style='font-weight: 100;text-transform: uppercase; text-align:center;'>Github Username: <p style='color: purple;'>{{x.info.login}}</p></h1>
    <h1 style='font-weight: 100;text-transform: uppercase; text-align:center;'>Github Link: <p style='font-size:50px;'><a class = 'h5' href="{{x.info.html_url}}"style='font-size:30px; color:purple;'>{{x.info.html_url}}</a></p></h1>
    <h1 style='font-weight: 100;text-transform: uppercase; text-align:center;'>E-mail:<p style='color: purple;'> {{x.info.email}}</p></h1>
    <h1 style='font-weight: 100;text-transform: uppercase; text-align:center;'>Bio:<p style='color: purple;'> {{x.info.bio}}</p></h1>
    <!-- <p>Resume:<h5><a style='color:white;'href="https://thelandofchargar.herokuapp.com/">https://thelandofchargar.herokuapp.com/</a></h5></p> -->
  </div>

</div>
